* {
    margin: 0px;
    padding: 0px;
}


img {
    border: 0px;
}

ol,
ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
ol,
ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.bg {
    background: #000;
}


ol,
ul {
    padding-left: 0px;
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../webfonts/open-sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../webfonts/open-sans/OpenSans-Semibold.ttf);
}


.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 1170px;
}

.bg {
    background: rgb(255, 255, 255);
}

.header_top {
    display: flex;

}

.header_top a img {
    margin-top: 13px;
}

.header_top h4 {
    color: #3ca2a2;
    font-size: 26px;
    font-family: OpenSans-Regular;
    line-height: 115px;
    margin-left: 10px;
}

.header_top h5 {
    color: #d1363c;
    font-size: 30px;
    font-family: OpenSans-Regular;
    line-height: 115px;
    margin-left: 130px;
}

/* header top part end  */


.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #be0b11;
}


/* .nav_bg {
    background: #c50811;
} */


.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    padding: 13px 14px;
    font-family: OpenSans-Semibold;
}

.nav-link {
    padding: 0px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #c50811;
    background: #f18d26;
    transition: all linear .5s;
    text-decoration: none;
}

.home_active {
    background: #f18d26;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a i {
    color: #c50811;
    background: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    ;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    ;
    text-align: center;
    padding-top: 4px;
    margin-left: 5px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

nav ul li a i:hover {
    transform: rotate(360deg);
    cursor: pointer;
    color: #ffffff;
    background: #f18d26;
}

/* menu part end */

.banner {
    background: url(../images/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    padding-bottom: 90px;
}

.banner h4 {
    color: #215a6d;
    font-size: 36px;
    font-family: OpenSans-Regular;
    padding-top: 65px;
}

.banner h5 {
    color: #215a6d;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 19px;
}

.banner p {
    color: #215a6d;
    font-size: 16px;
    font-family: OpenSans-Regular;
    margin-bottom: 51px;
}

.banner a {
    text-decoration: none;
    padding: 14px 25px;
    background: #92c7a3;
    color: #fff;
    border-radius: 80px;
    font-family: OpenSans-Semibold;
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    margin-bottom: 100px;
}

.banner a:hover {
    color: #f18d26;

}

/* banner part end */
/* learn_find_free part start */
.learn_find_free {
    padding-top: 42px;
    padding-bottom: 85px;
}

.flt {
    float: left;
}

.learn_find_free h5 {
    padding-bottom: 22px;
    font-size: 22px;
    color: #3ca2a2;
    font-family: OpenSans-Semibold;
}

.learn_find_free img {
    display: inline-block;
}

.learn_find_free p {
    color: #215a6d;
    font-size: 13px;
    font-family: OpenSans-Regular;
    padding-top: 15px;
    padding-bottom: 20px;
}

.learn_find_free a {
    text-decoration: none;
}

.learn_find_free a span {
    color: #92c7a3;
    text-decoration: none;
    font-family: OpenSans-Regular;
    margin-left: 10px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.learn_find_free a span:hover {
    color: #c70811;
}

.learn_find_free a i {
    color: #c70811;
    border-style: solid;
    border-radius: 50%;
    border-color: #c70811;
    padding: 2px 3px;
    font-size: 9px;
}

.learn_find_free a i:hover {
    color: #f18d26;
    border-color: #f18d26;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

/* learn_find_free part end */
/* noticeboard & video part start */
.notice_bg {
    background: #dfece6;
    padding-bottom: 30px;
}

.noticeboard h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;

}

.noticeboard h3:after {
    width: 53px;
    height: 2px;
    background: #c70811;
    left: 0px;
    top: 83px;
    position: absolute;
    content: '';
}

.noticeboard a {
    text-decoration: none;
}

.noticeboard a i {
    color: #c70811;
    border-style: solid;
    border-radius: 50%;
    border-color: #c70811;
    padding: 2px 3px;
    font-size: 9px;
    margin-right: 5px;
    margin-top: 28px;
}

.noticeboard a i:hover {
    color: #f18d26;
    border-color: #f18d26;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}


.noticeboard a {
    color: #3ca2a2;
    text-decoration: none;
    font-family: OpenSans-Regular;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.noticeboard a:hover {
    color: #c70811;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}


.accordion-item h6 {
    color: #3ca2a2;
    font-size: 16px;
    font-family: OpenSans-Semibold;

}

.accordion-body h5 {
    color: #215a6d;
    font-size: 16px;
    font-family: OpenSans-Regular;
    text-align: justify;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #3ca2a2;
    outline: 0;
    box-shadow: none;
    /* box-shadow: 0 0 0 .25rem rgba(196, 138, 31, 0.25); */
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 14.5px;
    font-size: 1rem;
    color: #292321;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px solid #3ca2a2;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}


.accordion-button:not(.collapsed)::after {
    background-image: url(../images/minus.png);
    transform: rotate(-180deg);
}

.video h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-bottom: 12px;
    padding-top: 33px;

}

.video h3:after {
    width: 53px;
    height: 2px;
    background: #c70811;
    left: 0px;
    top: 83px;
    position: absolute;
    content: '';
}

.video img {
    margin-top: 30px;
    margin-bottom: 68px;
    border: 10px solid #fff;
    width: 100%;

}

.video a {
    position: relative;

}

.video .overly2 {
    position: absolute;
    top: -25px;
    left: 257px;
    content: '';

}

.video .overly2 i {
    color: #c50811;
    background: #faf7ee;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    transition: all linear .5s;
    text-align: center;
}

.video a:hover i {
    color: #fff;
    background: #c50811;
}

/* noticeboard & video part end */
/* news_service_gallary part start */
.nsg {
    padding-top: 65px;
}

.news_events h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    position: relative;
}

.news_events h3:after {
    width: 53px;
    height: 2px;
    background: #ae1010;
    position: absolute;
    top: 48px;
    left: 0px;
    content: '';
}

.news_events h4 {
    color: #3ca2a2;
    font-size: 18px;
    font-family: OpenSans-Semibold;
    padding-top: 35px;
    padding-bottom: 3px;
}

.news_events p {
    color: #215a6d;
    font-size: 13px;
    font-family: OpenSans-Regular;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 25px;
}

.news_events h5 {
    color: #3ca2a2;
    font-size: 18px;
    font-family: OpenSans-Semibold;
    padding-top: 25px;
    padding-bottom: 3px;
}

.news_events h6 {
    color: #215a6d;
    font-size: 13px;
    font-family: OpenSans-Regular;
    padding-bottom: 30px;
}

.news_events a {
    text-decoration: none;
}

.news_events a i {
    color: #c70811;
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: #c70811;
    padding: 2px 3px;
    font-size: 9px;
}

.news_events a i:hover {
    color: #f18d26;
    border-color: #f18d26;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.news_events span {
    color: #3ca2a2;
    font-size: 16px;
    font-family: OpenSans-Semibold;
    margin-left: 3px;
}

.news_events span:hover {
    color: #c70811;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.medical_service h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 30px;
}

.medical_service h3:after {
    width: 53px;
    height: 2px;
    background: #ae1010;
    position: absolute;
    top: 48px;
    left: 0px;
    content: '';
}

.medical_service ul li a {
    text-decoration: none;
    line-height: 20px;
}

.medical_service ul li a i {
    color: #ae1010;
    font-size: 1rem;
}

.medical_service ul li a span {
    color: #215a6d;
    font-size: 13px;
    font-family: OpenSans-Regular;
    margin-left: 5px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.medical_service ul li:hover span {
    color: #ae1010;
}

.medical_service a {
    text-decoration: none;
}

.medical_service .view {
    padding-top: 61px;
}

.medical_service .view a i {
    color: #c70811;
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: #c70811;
    padding: 2px 3px;
    font-size: 9px;
}

.medical_service .view a i:hover {
    color: #f18d26;
    border-color: #f18d26;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.medical_service .view span {
    color: #3ca2a2;
    font-size: 16px;
    font-family: OpenSans-Semibold;
    margin-left: 3px;
}

.medical_service span:hover {
    color: #c70811;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.photo_gallary h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 40px;
}

.photo_gallary h3:after {
    width: 53px;
    height: 2px;
    background: #ae1010;
    position: absolute;
    top: 48px;
    left: 0px;
    content: '';
}

.photo_gallary img {
    width: 100%;
    height: 69px;
    width: 170px;
    border: 5px solid #dfece0;
    /* object-fit: cover; */
}

.photo_gallary .photo_relative {
    position: relative;
    overflow: hidden;
}

.photo_gallary .photo_relative .overly {
    width: 171px;
    height: 72px;
    background: #3ca2a2;
    bottom: 300px;
    ;
    left: 7px;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.photo_gallary .photo_relative .overly i {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    background: #ae1010;
    color: #fff;
    padding: 10px;
    margin-top: 18px;
}

.photo_gallary .photo_relative:hover .overly {
    bottom: 0px;
    opacity: 0.8;
}

.photo_gallary a {
    text-decoration: none;
    margin-top: 20px;
}

.photo_gallary .photo_all a i {
    color: #c70811;
    border-style: solid;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-color: #c70811;
    padding: 2px 3px;
    font-size: 9px;
    margin-top: 47px;
}

.photo_gallary .photo_all a i:hover {
    color: #f18d26;
    border-color: #f18d26;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}


.photo_gallary .photo_all span {
    color: #3ca2a2;
    font-size: 16px;
    font-family: OpenSans-Semibold;
    margin-left: 3px;
}

.photo_gallary .photo_all span:hover {
    color: #c70811;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

/* news_service_gallary part end */

.doctor {
    padding-top: 70px;
}

.doctor h3 {
    color: #215a6d;
    font-size: 28px;
    font-family: OpenSans-Semibold;
    padding-bottom: 10px;
    border-bottom: 1px solid #EAEAEA;
    position: relative;
}

.doctor h3:after {
    width: 53px;
    height: 2px;
    background: #c70811;
    top: 48px;
    left: 0px;
    position: absolute;
    content: '';
}

.doctor_details {
    margin-top: 30px;
    margin-bottom: 95px;
}

.doctor_details img {
    width: 100%;
    border: 5px solid #dfece0;
}

.doctor_details h5 {
    color: #3ca2a2;
    font-size: 18px;
    font-family: OpenSans-Semibold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.doctor_details h6 {
    color: #878787;
    font-size: 12px;
    font-family: OpenSans-Regular;
    padding-bottom: 5px;
}

.doctor_details p {
    color: #cf0511;
    font-size: 12px;
    font-family: OpenSans-Regular;
}

/* doctor part end */
.footer_bg {
    background: #222222;
}

footer {
    padding-bottom: 44px;
}

.footer_top {
    padding-top: 20px;
    padding-bottom: 41px;
}

.footer_top h5 {
    color: #3CA2A2;
    font-size: 26px;
    font-family: OpenSans-Regular;
    padding-top: 24px;

}

.footer_content h5 {
    color: #3CA2A2;
    font-size: 18px;
    font-family: OpenSans-Semibold;
    padding-bottom: 15px;
}

.footer_content ul li a i {
    color: #c70811;
    font-size: 12px;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.footer_content ul li a i:hover {
    color: #F18D26;
}

.footer_content ul li a {
    text-decoration: none;
}

.footer_content ul li a span {
    color: #c6ded9;
    font-size: 13px;
    margin-left: 5px;
    font-family: OpenSans-Regular;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
}

.footer_content ul li a span:hover {
    color: #cf0511;
}

.footer_bottom {
    background: #cf0511;
    height: 45px;
}

.footer_bottom h5 {
    color: #cdc6de;
    font-size: 14px;
    font-family: OpenSans-Regular;
    line-height: 45px;
}

/* footer part end */

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: #cf0511;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    opacity: .4;
}

#myBtn:hover {
    background-color: #F18D26;
    color: #fff;
    opacity: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -o-transition: all linear .3s;
}